<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBasicHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ApplicationWebServiceSoap" />
        <binding name="ItemSetServiceSoap" />
        <binding name="ContractServiceSoap" />
        <binding name="CategoryServiceSoap" />
        <binding name="CallServiceSoap" />
        <binding name="DataAreaServiceSoap" />
        <binding name="UserDefFieldOptionServiceSoap" />
        <binding name="SupplierServiceSoap" />
        <binding name="PackagingServiceSoap" />
        <binding name="UnitServiceSoap" />
        <binding name="ClassServiceSoap" />
        <binding name="ContactServiceSoap" />
        <binding name="OrderServiceSoap" />
        <binding name="ItemServiceSoap" />
        <binding name="AddOnItemServiceSoap" />
        <binding name="AddOnProductServiceSoap" />
        <binding name="ProductServiceSoap" />
        <binding name="ProductGroupServiceSoap" />
        <binding name="AttachmentServiceSoap" />
        <binding name="UserServiceSoap" />
        <binding name="SynonymServiceSoap" />
        <binding name="TreeNodeServiceSoap" />
        <binding name="ItemGroupServiceSoap" />
        <binding name="EstimateServiceSoap" />
        <binding name="SalesConditionServiceSoap" />
        <binding name="SupportAgreementServiceSoap" />
        <binding name="ModellingClassServiceSoap" />
        <binding name="ApplicationWebServiceSoap1" />
        <binding name="BasicHttpBinding_MessageServiceSoap">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="MessageServiceSoap">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="WascoCustomerServicesSoap" />
        <binding name="MessageServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="MessageServiceSoap3" />
        <binding name="secured">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IMessageService30">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="MessageServiceSoap1">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" keyEntropyMode="ServerEntropy" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false" />
            <localServiceSettings detectReplays="false" />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="ArtConnectV30">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ttt.online.compano.nl/cattreenode.asmx" binding="basicHttpBinding" bindingConfiguration="TreeNodeServiceSoap" contract="ClientCATTreeNode.TreeNodeServiceSoap" name="TreeNodeServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/crmcontact.asmx" binding="basicHttpBinding" bindingConfiguration="ContactServiceSoap" contract="ClientCRMContact.ContactServiceSoap" name="ContactServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/ctmcategory.asmx" binding="basicHttpBinding" bindingConfiguration="CategoryServiceSoap" contract="ClientCTMCategory.CategoryServiceSoap" name="CategoryServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/gdbattachment.asmx" binding="basicHttpBinding" bindingConfiguration="AttachmentServiceSoap" contract="ClientGDBAttachment.AttachmentServiceSoap" name="AttachmentServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/gdbuserdeffieldoption.asmx" binding="basicHttpBinding" bindingConfiguration="UserDefFieldOptionServiceSoap" contract="ClientGDBUserDefFieldOption.UserDefFieldOptionServiceSoap" name="UserDefFieldOptionServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/icsclass.asmx" binding="basicHttpBinding" bindingConfiguration="ClassServiceSoap" contract="ClientICSClass.ClassServiceSoap" name="ClassServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/icssynonym.asmx" binding="basicHttpBinding" bindingConfiguration="SynonymServiceSoap" contract="ClientICSSynonym.SynonymServiceSoap" name="SynonymServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdaddonitem.asmx" binding="basicHttpBinding" bindingConfiguration="AddOnItemServiceSoap" contract="ClientPRDAddOnItem.AddOnItemServiceSoap" name="AddOnItemServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdaddonproduct.asmx" binding="basicHttpBinding" bindingConfiguration="AddOnProductServiceSoap" contract="ClientPRDAddOnProduct.AddOnProductServiceSoap" name="AddOnProductServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/services/prditemgroup.asmx" binding="basicHttpBinding" bindingConfiguration="ItemGroupServiceSoap" contract="ClientPRDItemGroup.ItemGroupServiceSoap" name="ItemGroupServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prditemset.asmx" binding="basicHttpBinding" bindingConfiguration="ItemSetServiceSoap" contract="ClientPRDItemSet.ItemSetServiceSoap" name="ItemSetServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdpackaging.asmx" binding="basicHttpBinding" bindingConfiguration="PackagingServiceSoap" contract="ClientPRDPackaging.PackagingServiceSoap" name="PackagingServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdproduct.asmx" binding="basicHttpBinding" bindingConfiguration="ProductServiceSoap" contract="ClientPRDProduct.ProductServiceSoap" name="ProductServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdproductgroup.asmx" binding="basicHttpBinding" bindingConfiguration="ProductGroupServiceSoap" contract="ClientPRDProductGroup.ProductGroupServiceSoap" name="ProductGroupServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdsalescondition.asmx" binding="basicHttpBinding" bindingConfiguration="SalesConditionServiceSoap" contract="ClientPRDSalesCondition.SalesConditionServiceSoap" name="SalesConditionServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdsupplier.asmx" binding="basicHttpBinding" bindingConfiguration="SupplierServiceSoap" contract="ClientPRDSupplier.SupplierServiceSoap" name="SupplierServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdsupportagreement.asmx" binding="basicHttpBinding" bindingConfiguration="SupportAgreementServiceSoap" contract="ClientPRDSupportAgreement.SupportAgreementServiceSoap" name="SupportAgreementServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prdunit.asmx" binding="basicHttpBinding" bindingConfiguration="UnitServiceSoap" contract="ClientPRDUnit.UnitServiceSoap" name="UnitServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prjestimate.asmx" binding="basicHttpBinding" bindingConfiguration="EstimateServiceSoap" contract="ClientPRJEstimate.EstimateServiceSoap" name="EstimateServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prjorder.asmx" binding="basicHttpBinding" bindingConfiguration="OrderServiceSoap" contract="ClientPRJOrder.OrderServiceSoap" name="OrderServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/supcall.asmx" binding="basicHttpBinding" bindingConfiguration="CallServiceSoap" contract="ClientSUPCall.CallServiceSoap" name="CallServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/supcontract.asmx" binding="basicHttpBinding" bindingConfiguration="ContractServiceSoap" contract="ClientSUPContract.ContractServiceSoap" name="ContractServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/usrdataarea.asmx" binding="basicHttpBinding" bindingConfiguration="DataAreaServiceSoap" contract="ClientUSRDataArea.DataAreaServiceSoap" name="DataAreaServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/usruser.asmx" binding="basicHttpBinding" bindingConfiguration="UserServiceSoap" contract="ClientUSRUser.UserServiceSoap" name="UserServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/icsmodellingclass.asmx" binding="basicHttpBinding" bindingConfiguration="ModellingClassServiceSoap" contract="ClientICSModellingClass.ModellingClassServiceSoap" name="ModellingClassServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/prditem.asmx" binding="basicHttpBinding" bindingConfiguration="ItemServiceSoap" contract="ClientPRDItem.ItemServiceSoap" name="ItemServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/application.asmx" binding="basicHttpBinding" bindingConfiguration="ApplicationWebServiceSoap" contract="ClientApplication.ApplicationWebServiceSoap" name="ApplicationWebServiceSoap" />
      <endpoint address="http://ttt.online.compano.nl/ArtConnectV30.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MessageServiceSoap" contract="ClientArtConnect.MessageServiceSoap" name="BasicHttpBinding_MessageServiceSoap" />
      <endpoint address="https://pimtest.compano.com/services/application.asmx" binding="basicHttpBinding" bindingConfiguration="ApplicationWebServiceSoap" contract="ClientApplication.ApplicationWebServiceSoap" name="ApplicationWebServiceSoap" />
      <endpoint address="https://pimtest.compano.com/services/prditem.asmx" binding="basicHttpBinding" bindingConfiguration="ApplicationWebServiceSoap" contract="ClientApplication.ApplicationWebServiceSoap" name="ApplicationWebServiceSoap" />
      <endpoint address="https://pimtest.compano.com/services/prdproduct.asmx" binding="basicHttpBinding" bindingConfiguration="ApplicationWebServiceSoap" contract="ClientApplication.ApplicationWebServiceSoap" name="ApplicationWebServiceSoap" />
      <endpoint address="https://insbou.openhorizon.net/3.0/messageservice_3.0.php" binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap" contract="ClientMessageService.MessageServiceSoap" name="MessageServiceSoap" />
      <endpoint address="https://ws.oosterberg.nl/messageservice30/MessageService.svc" binding="customBinding" bindingConfiguration="MessageServiceSoap1" contract="ClientMessageService.MessageServiceSoap" name="MessageServiceSoap1" />
      <endpoint address="http://www.wasco.nl/WWC/WascoCustomerServices.asmx" binding="basicHttpBinding" bindingConfiguration="WascoCustomerServicesSoap" contract="PRDWascoCustomerService.WascoCustomerServicesSoap" name="WascoCustomerServicesSoap" />
      <endpoint address="https://test.online.compano.nl/MessageService.asmx" binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap2" contract="MessageService240TestCompano.MessageServiceSoap" name="MessageServiceSoap2" />
      <endpoint address="https://accmessageservice.galvano.nl/MessageService.svc" binding="basicHttpBinding" bindingConfiguration="secured" contract="tstGalvanoMessageService.MessageServiceSoap" name="secured" />
      <endpoint address="https://rensa.viadeportal.nl/MessageService/v3.00/MessageService.svc" binding="basicHttpBinding" bindingConfiguration="secured" contract="tstRensaMessageService.MessageServiceSoap" name="RensaMessageServicesSoap" />
      <endpoint address="https://rensa.viadeportal.nl/MessageService/v3.00/MessageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageService30" contract="tstRensaMessageService.IMessageService30" name="BasicHttpBinding_IMessageService30" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="tempWorkDir" value="C:\temp\CWS_demo\" />
    <add key="tempExportDir" value="C:\temp\CWS_demo\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>